<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Login</title>

    <!-- Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="Styles\main.css"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:700|Roboto+Slab" rel="stylesheet">
</head>

<body>
    <div id="header">

    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12" id="top">
                <h1 id="welcome">Welcome to Semba ERS</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form id="login-form" action="login" method="post">
                    <div class="form-group">
                        <label for="username" id="username-label">
                            <strong style="font-size: 18px">Username</strong>
                        </label>
                        <input type="text" style="border: 1px solid black" name ="username" class="form-control" id="login-username" placeholder="Enter username" required>
                    </div>
                    <div class="form-group">
                        <label for="password" id="pass-label">
                            <strong style="font-size: 18px">Password</strong>
                        </label>
                        <input type="password" style="border: 1px solid black" name="password" class="form-control" id="login-password" placeholder="Enter password" required>
                    </div>
                    <button type="submit" style="border: 1px solid black" class="btn btn-default" id="submit">
                        <strong>Submit</strong>
                    </button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="register" id="new-user"><em><strong>Register a new user account</strong></em></a>
            </div>
        </div>
    </div>
</body>

</html>