body {
	background-color: rgb(164, 172, 179);
}

#welcome {
	text-align: center;
	padding: 2%;
}

#top {
	background-color: rgb(202, 213, 221);
	padding: 3%;
	margin-bottom: 3%;
	border-radius: 10px 10px;
	border-width: 1.2px;
	border-style: inset;
	border-color: black;
	font-family: 'Roboto Slab', serif;
}

.container {
	background-color: rgb(20, 98, 175);
	padding: 5%;
	margin-top: 10%;
	margin-bottom: 10%;
	border-radius: 30px 30px;
	border-width: 1.2px;
	border-style: inset;
	border-color: black;
}

label {
	font-family: 'Roboto Slab', serif;
}

#login-username, #login-password {
	font-size: 20px;
}

#submit {
	background-color: rgb(170, 178, 184);
	font-family: 'Roboto Slab', serif;
	border-radius: 10px 10px;
	border-color: black;
	border-width: .8px;
}

#new-user:hover {
	color: white;
}